[2016-06-21 18:15] modmuss50 opened #1 "Events"
# I DID NOT WRITE THIS, IT HAS BEEN EDITED, I DISAGREE WITH IT.

# Summary
The purpose of this issue is to track progress of feature parity with Forge, in regards to the event system. If you would like to help speed up progress, please feel free to send us pull requests. If you intend to submit a pull request, please read the guidelines below.

## Event Guidelines

- The goal is to create feature

[2016-06-21 22:26] ProfessorProspector commented on #1
Suggesting BlockEvent.AttemptBlockMine

Is fired when you attempt to start breaking a block. Can be used to completely prevent you from even starting to break a block.

[2016-06-21 22:28] darkhax commented on #1
@ProfessorProspector Sounds like a good idea, however this functionality is already offered by Forge's BreakSpeedEvent. One issue with that event is that it doesn't take creative into account.

[2016-06-21 22:30] ProfessorProspector commented on #1
Ah, didn't know that. Is that a problem though that this is already offered by forge?

[2016-06-21 22:31] darkhax commented on #1
@ProfessorProspector No, it being in forge is not an issue. However we don't want duplicate functionality.

[2016-06-21 22:32] iLexiconn commented on #1
Whoops, I thought it wasn't an event and told him to comment of this issue. Sorry :P

[2016-06-21 22:33] ProfessorProspector commented on #1
Oh I see. I mean they have different applications. Like you said, this would take creative into account.

[2016-06-21 22:34] darkhax commented on #1
@ProfessorProspector Well not taking creative into account is something I would classify as a bug in forge. We won't have that bug ;p

[2016-06-21 23:37] iLexiconn opened #2 "Registry"

[2016-06-21 23:50] Thog commented on #1
We will need events for enchanting and repairing that Forge doesn't provide

[2016-06-21 23:51] iLexiconn commented on #1
Give me a nice name and I'll add them. :)

[2016-06-22 00:31] darkhax commented on #1
@Thog @iLexiconn EnchantItemEvent for when an item is enchanted. RepairItemEvent for when an item is repaired. I would also like an EnchantmentLevelEvent which allows the level of an enchantment to be modified. For example, if the player is holding X item in their inventory, then fire aspect gets +1 level.

[2016-06-22 06:13] rubensworks commented on #1
@Thog @darkhax I'd be happy to port my LivingEnchantmentLevelEvent I PR'd to Forge a while ago: MinecraftForge/MinecraftForge#2839
I don't think that PR is ever going to get merged anyways...

[2016-06-22 06:17] darkhax commented on #1
@rubensworks that would be greatly appreciated. Your event is something I have personally been wanting for a long time in forge.

[2016-06-22 06:31] modmuss50 commented on #1
It doesnt matter if forge has an event or not. We do not need to compare this to forge.

[2016-06-22 11:52] Victorious3 opened #3 "Proposal: Lazy loading"
For everyone who doesn't know what lazy loading is:
You don't register yourself, you tell the loader to register something sometime in the future.
This means that the loader can figure out the correct order and you don't need to worry
about what loads when, it will *just work*. Other benefits are that the loading can be multi-threaded which should severely increase startup times compared to Forge.

[2016-06-22 11:58] Victorious3 commented on #1
My two cents: Note that Forge's events are only as fast as they are because they use ASM to inline calls, I'd definitely do the same. The usage with the lambda callback is all nice and fancy but it lacks a certain convenience compared to Forge's @EventHandler, and I don't know how well a lambda works in terms of ASM optimizations.

[2016-06-22 17:58] darkhax commented on #1
I completely agree with you on this @Victorious3 we are working on something new, should be in place later today.

[2016-06-22 18:54] shadowfacts commented on #1
I am working on PRing my ScreenshotEvent

[2016-06-22 22:34] TheCodedOne commented on #3
I personally don't really see the need for @mod the json file system works fine as it does pretty much the same thing as @mod

[2016-06-22 22:57] darkhax commented on #3
TBH I don't like the use of the json system. Not sure why the other devs are against annotations so much.

[2016-06-23 01:24] darkhax opened #8 "Enforced SemVer"
Due to the way we are handling version numbers (through the json file) we can split it up into three different parts. This would allow us to enforce a 3 number [SemVer](http://semver.org/) system.

[code]

[2016-06-23 01:44] shadowfacts commented on #8
Mandatory SemVer would be awesome, however I think having a whole JSON object instead of just one string is unnecessary.

[2016-06-23 02:00] ProfessorProspector commented on #8
There's no real good way to do it otherwise. I like this idea +1

[2016-06-23 07:21] Victorious3 commented on #3
Despite my aversion against anything json, that wasn't the reason why I put the annotation there, that's just because the test mod had one at the point I was looking at it. The nice thing aboit annotations is that you can actually trace the mod classes without searching the entire classpath (Sun's APT)

[2016-06-23 07:33] Victorious3 commented on #3
EDIT: There's another thing this would theoretically allow, if all registration is handled by a separate system you can actually allow mods to unload and reload, plus dynamic refreshing of the mod list in case new mods were added because it can keep track of the Items, Blocks, etc added by each mod. All it needs is to go back to the main menu.

[2016-06-23 11:58] skyem123 commented on #8
@shadowfacts, I think the idea of splitting it up would be to make sure that people don't abuse the version string.

However, if it's split up, then the extra details that SemVer allows should probably be added somehow, to allow for stuff like build numbers and other details that people pack in.

[2016-06-23 13:59] iLexiconn commented on #8
I don't think it's a good idea. I often use 'dev' as version string so I don't mess up and release it.

[2016-06-23 14:03] shadowfacts commented on #8
SemVer has support for extra labels. This can be something dev (so `1.2.3-dev`) or something like Maven's SNAPSHOT  (`1.2.3-SNAPSHOT`).

[2016-06-23 14:04] iLexiconn commented on #8
Still don't think it's a good idea :p

[2016-06-23 14:11] skyem123 commented on #8
Here's a random idea: how about a "SemVer" object for compatibility checking, yet let the mod makers use their own version string?

[2016-06-23 14:13] iLexiconn commented on #8
Ill make something like that. Simver will still be optional though.

[2016-06-23 14:15] shadowfacts commented on #8
If we do make SemVer optional, we'll have some crazy-ass system like for for parsing versions and dealing with version ranges and matching instead of something, [nice and simple and standardized](https://github.com/shadowfacts/ShadowLib/tree/master/src/main/java/net/shadowfacts/shadowlib/version).

[2016-06-23 14:21] iLexiconn commented on #8
We can add a simple regex check for that

[2016-06-23 14:21] skyem123 commented on #8
That's why a semver object should be for version checking, yet if a crazy modder, such as @Victorious3 (oh their wacky version number system) wants to have their own version string, they can.

[2016-06-23 14:22] iLexiconn commented on #8
Uh, the current version checker (not on repo yet) supports all kinds of version strings.

[2016-06-23 14:26] iLexiconn opened #12 "Notification system"
Snackbar notification system

[2016-06-23 14:27] skyem123 commented on #8
The advantage of semver is that you can assume that stuff is compatible if the patch version is the same, and backwards compatible if the minor version is the same.

[2016-06-23 14:30] iLexiconn commented on #8
You're right. Let's just do it.

[2016-06-23 16:33] Rushmead commented on #1
Claiming the CommandEvent

[2016-06-23 18:43] Rushmead commented on #1
Thoughts on a ArmorEquipEvent(Possibly an ArmorUnequipEvent aswell)?

[2016-06-23 19:53] Victorious3 commented on #8
@skyem123 What I'd do then is to just leave it at 0.0.0 for eternity because my system is clearly the better one! 😆
In all honesty though, this:

sounds like a unicorn to me.

[2016-06-23 20:04] skyem123 commented on #8
Well... it only works if people respect the system.
1.0 is assumed to be incompatible completely with 2.0
Stuff that relies on 1.1 can be compatible with 1.2 (one way).
1.1.0 is compatible with 1.1.1 (both ways), there's just bug fixes.

[2016-06-23 20:33] ProfessorProspector commented on #12
Oh yes please! Like the one that ChatFlow adds. Also if this gets added, could bed messages be moved to it rather than chat? :P

[2016-06-23 20:38] iLexiconn commented on #12
Good idea! I'll add that as soon as it's implemented. (Working on it right now)

[2016-06-23 20:40] ProfessorProspector commented on #12
Awsesome! Make sure it supports colours too. Also, what if two notifications are displayed at once? Will there be a backlog or will it just replace the last one?

[2016-06-23 20:41] iLexiconn commented on #12
It supports colors and the notifcations wait in a queue if there's already one on the display.

[2016-06-23 20:42] ProfessorProspector commented on #12
Sounds awesome. Also something to keep in mind, you know how various mods use the "no-spam chat" thing where it deletes the old chat message before making a new one (for updating values or something), could there be a feature for this in forge, as well as for the notification system?

[2016-06-23 20:45] iLexiconn commented on #12
There's already a chat ever in OML, I'll also add an event like that for the notificatins that do the same. :)

[2016-06-23 20:48] shadowfacts opened #22 "Configuration"
OML should have a standardized config system for all mods to use.

My suggestion is [Typesafe Config](https://github.com/typesafehub/config).

[2016-06-23 20:52] iLexiconn commented on #22
Typesafe looks like a good idea!

[2016-06-23 20:57] ProfessorProspector commented on #22
The config system should be designed to work well with a gui, rather than how forge had to build the gui based on the config format.

[2016-06-23 20:58] ProfessorProspector commented on #22
Also is there a way to have enum values as config objects in forge? That would be a very useful thing to have.

[2016-06-23 20:59] iLexiconn commented on #22
It doesn't really matter if we can just get enough info from the config (and we can with typesafe)

[2016-06-23 21:38] Rushmead commented on #1
Claiming the ArmorEquip.Equip and ArmorEquip.Unequip events

[2016-06-24 06:00] darkhax commented on #12
Could you explain in further detail what this actually is?

[2016-06-24 06:07] ProfessorProspector commented on #12
Do you use android? It's like the notifications that pop up on the screen for a second or two. It's basically an alternative to using chat for notifications, and save the chat for, you know, chat.

[2016-06-24 06:14] darkhax commented on #12
Oh, I see. So this would basically be like the achievement HUD. I had [something similar](https://github.com/Darkhax-Minecraft/Bookshelf/blob/e74f7a71f9206966ce7b39fec9e3dba11a406a86/src/main/java/net/darkhax/bookshelf/client/gui/GuiNotification.java) implemented in Bookshelf a for 1.7.10 Code probably still works if the rendering was switched to the a state manager.

[2016-06-24 06:18] ProfessorProspector commented on #12
Here is a gif @iLexiconn posted https://gfycat.com/UnfortunateConfusedGeese

[2016-06-24 06:20] darkhax commented on #12
Ah, neat. I like that. My system is basically a copy of MC's achievement notification :p

[2016-06-24 06:22] ProfessorProspector commented on #12
Hey lexicon, what about displaying an itemstacks as a prefix to a notification? That would be very useful. If that happens, achievements could use the universal notification system then

[2016-06-24 06:25] darkhax commented on #12
While the notification system is cool, we shouldn't rewrite vanilla to run through it. Actual features like that should be handled by the mods.

[2016-06-24 09:16] iLexiconn commented on #12
@darkhax I didn't 'rewrite' anything for it.
@ProfessorProspector You already can. (I think)

[2016-06-24 09:16] #12 closed

[2016-06-24 10:27] iLexiconn commented on #22
On a second thought, I think we just have to use JSON. People are familiair with it and we already have the dependency for it.

[2016-06-24 10:31] iLexiconn opened #27 "Packet system"
I was thing about something like [this](https://github.com/iLexiconn/LLibrary/blob/1.9.4/src/main/java/net/ilexiconn/llibrary/server/network/AbstractMessage.java), from LLibrary.

[2016-06-24 11:47] skyem123 commented on #22
JSON is not very user-friendly, it's designed for computer data transfer not human to computer interface.

[2016-06-24 14:13] shadowfacts commented on #27
I think something like [LambdaNetwork](https://github.com/elytra/LambdaNetwork) is better because it's got a nice builder model making it easier to create and send packets quickly and prevents modders from needing to write their own serialization/deserialization code for the majority of packets.

[2016-06-24 14:16] shadowfacts commented on #22
Yeah, as Skye said, JSON is designed for computers (and programmers) to work with not end users.

TypeSafe Config using [HOCON](https://github.com/typesafehub/config/blob/master/HOCON.md), a superset of JSON with numerous improvements over it, including a much cleaner syntax making it easier for end users to understand.

Additionally, one major thing that JSON lacks which would make it hard to hav

[2016-06-24 14:21] iLexiconn commented on #27
That looks really neat! I think we'll go with something like that.

[2016-06-24 19:08] The-Fireplace commented on #1
I will see about GuiScreenEvent.InitGuiEvent.Post. No promises, but I will try.

[2016-06-24 19:09] shadowfacts commented on #1
@The-Fireplace Is it really necessary? Is there any not niche use case?

[2016-06-24 19:17] skyem123 commented on #22
There's also stuff like [YAML](http://yaml.org/) and [SDLang](https://sdlang.org/), which try to be user friendly.

[2016-06-24 19:20] The-Fireplace commented on #1
@shadowfacts I just looked at it, and asked myself the same thing. GuiEvent.Init is called after the button list is cleared, so there isn't any reason to add it.

[2016-06-24 20:45] darkhax commented on #1
I am going to claim the render event. I have pretty big plans for it, so I am going to create a pull request.

[2016-06-24 20:50] iLexiconn commented on #1
What render event, lol

[2016-06-24 20:59] darkhax commented on #1
@iLexiconn I added a `- claimed by Darkhax` to the ones I plan to tackle. I am planning to merge a bunch of it together, and then expand some. Here is the list of what it will look like.

- RenderEvent - The parent class
- RenderEvent.Entity - Entities
- RenderEvent.Shadow - Shadows, because they're not part of entities aparently
- RenderEvent.Layer - Direct access to RenderLayer allowing for some

[2016-06-24 21:07] Caellian commented on #2
Is it possible to collect fuels registered by vanilla MC and mods. I believe just a HashMap of fuels to their tick burn time would be incredibly useful for all mods using them as fuels and it would make power systems less prone to breaking if any burn duration alterations occur in newer versions of Minecraft due to nerfing of vanill MC. I'll look into how much code is necessary and patching (and w

[2016-06-24 21:24] The-Fireplace opened #31 "OreDictionary system"
I know this is a very low priority feature at the moment, but I am going to go ahead and put this out there so it doesn't get forgotten.

We will need some kind of OreDictionary system to use with our recipes.

[2016-06-24 21:26] iLexiconn commented on #31
I don't think we need them. Mods will have plenty of features to communicae with eachother.

[2016-06-24 21:27] #8 closed

[2016-06-24 21:28] iLexiconn opened #32 "ASM Patching"

[2016-06-24 21:31] shadowfacts commented on #31
I don't think this is really necessary. The reason Forge has the OreDict is multiple mods added overlapping stuff before it was created. If we can create one standardized mod to contain common ore and ingots, then any mod that wants to use said ores/ingots can depend on that.

[2016-06-24 21:32] iLexiconn commented on #31
That ^

[2016-06-24 21:35] The-Fireplace commented on #31
@iLexiconn Alright, here's a likely scenario, I am curious to see how it would be handled without some kind of OreDictionary system.

Mod A and Mod B both add copper ingots. Mod A adds a recipe for one of its other items using its copper ingots. How do you use Mod B's ingots in Mod A's recipe?

[2016-06-24 21:37] iLexiconn commented on #31
Did you read @shadowfacts's comment? ;p

[2016-06-24 21:39] shadowfacts commented on #31
@The-Fireplace My point is both mods _don't_ add their own copper ingots, they use the ones provided by the base mod.

[2016-06-24 21:41] The-Fireplace commented on #31
@shadowfacts so you plan to encompass every type of metal that might be added in more than one mod and hope that you don't miss any?

[2016-06-24 21:48] darkhax commented on #31
@shadowfacts @iLexiconn You're making the assumption that the ore dictionary is for over lapping content, however that is just a very small part of what it is actually used for. The dictionary in forge is primarily used to give items different groups which can be used to reference them. For example, many mods add wooden fences, and many other mods including a few of my own have recipes that take a

[2016-06-24 21:51] shadowfacts commented on #31
Good point.

[2016-06-24 22:07] darkhax commented on #2
@Caellian I don't see a problem with that, as long as it's done appropriately.

[2016-06-24 23:24] iLexiconn opened #34 "Runtime deobfuscation to SRG"

[2016-06-25 00:37] #22 closed

[2016-06-25 15:06] Rushmead commented on #1
MINE:
 EntityEvent.EntityMountEvent
 EntityEvent.EntityStruckByLightningEvent
 EntityEvent.EntityTravelToDimensionEvent

[2016-06-25 15:25] 4rz0 commented on #1
In KeyPressEvent, will there be specific support for the modifier keys?
Also, will there be a system for a mod to register a new keybind and if that's pressed, said mod will get an event back?

[2016-06-26 02:56] ConnorHartley opened #40 "Javadocs?"
Where are they?

[2016-06-26 03:22] darkhax commented on #40
They are currently available through the code, and once we have public builds you will be able to download them directly. They will probably also be hosted on our site if @modmuss50 wants to set that up.

[2016-06-26 03:49] #40 closed

[2016-06-26 04:12] phase commented on #40
[They](https://github.com/OpenModLoader/OpenModLoader/blob/master/src/main/java/xyz/openmodloader/OpenModLoader.java)
[are](https://github.com/OpenModLoader/OpenModLoader/blob/master/src/main/java/xyz/openmodloader/ISidedHandler.java)
[not](https://github.com/OpenModLoader/OpenModLoader/blob/master/src/main/java/xyz/openmodloader/registry/GameRegistry.java)
[available](https://github.com/OpenModLo

[2016-06-26 05:13] darkhax commented on #40
[A](https://github.com/OpenModLoader/OpenModLoader/blob/master/src/main/java/xyz/openmodloader/event/Event.java)
[lot](https://github.com/OpenModLoader/OpenModLoader/blob/master/src/main/java/xyz/openmodloader/event/EventBus.java)
[of](https://github.com/OpenModLoader/OpenModLoader/blob/master/src/main/java/xyz/openmodloader/config/Config.java)
[the](https://github.com/OpenModLoader/OpenModLoader/

[2016-06-26 05:16] phase commented on #40
I can't wait for that file!

[2016-06-26 05:17] ConnorHartley commented on #40
I agree.

[2016-06-26 05:31] phase commented on #34
What does this entail? Why should we deobfuscate it during runtime and not during compile time? Why not deobf to OML mappings instead?

Creating an issue with no description doesn't help _anyone_, it only hurts us. I can't help solve this issue because there is _no information on anything_. Issues should be the place where you detail everything that you are going to include, not just a todo list.

[2016-06-26 08:50] iLexiconn commented on #34
I taked about this in the dev channel.

[2016-06-26 08:54] darkhax commented on #34
@iLexiconn unfortunately we don't all have access to the dev channel. And some of us who do (like me) don't have a clue what you're talking about still, because we didn't see the messages.

[2016-06-26 09:02] iLexiconn commented on #34
We need to remap Minecraft in production to func_blablabla so ASM is much easier.

[2016-06-26 09:04] phase commented on #34
Why not use the OML mappings in production?

[2016-06-26 09:17] iLexiconn commented on #34
Because we don't have them yet, but yes that's the plan

[2016-06-26 17:26] #27 closed

[2016-06-27 07:26] gegy1000 commented on #1
Claiming
PlayerEvent.ItemCraftedEvent,
PlayerEvent.ItemPickupEvent,
and PlayerEvent.ItemSmeltedEvent

[2016-06-27 11:20] iLexiconn opened #53 "Creatibe tabs"

[2016-06-27 17:43] iLexiconn commented on #3
Our API is too bad for Vic

[2016-06-27 18:35] Victorious3 commented on #3
Before it has this, definitely.

[2016-06-27 18:40] chibill commented on #34
I could be of help with this I think.

[2016-06-27 19:34] gegy1000 opened #56 "Entity Properties"

[2016-06-27 21:45] darkhax commented on #56
@gegy1000 please add a description.

[2016-06-27 21:56] #56 closed

[2016-06-29 11:07] darkhax opened #66 "Never dismount again!"
Once you start riding an entity, you can never dismount it. This includes the player being killed. Only way to get off is for the entity being ridden to die.

[2016-06-29 16:18] #66 closed

[2016-06-30 03:16] darkhax commented on #1
Claiming
[code]

[2016-06-30 09:13] modmuss50 commented on #53
I don't like having to click the next button a lot with forge. I think we should improve on this.

[2016-06-30 09:14] modmuss50 commented on #34
Dont we need obfuscation first?

[2016-06-30 09:19] darkhax commented on #53
I am on the fence about this one. I don't think we should break the vanilla feel.

[2016-06-30 09:52] modmuss50 commented on #53
We cannot re do the creative tabs, but an improved one would be good. I could have a go at it

[2016-07-02 03:33] darkhax opened #75 "Network patches incomplete, causes compile issues"
The class NetHandlerPlayServer has several issues. It seems that the patch for it was not committed.

Line 726 `this.serverController.getPlayerList().sendChatMsgImpl(var6, false);`
The method sendChatMsgImpl(ICommandSender, ITextComponent, boolean) in the type PlayerList is not applicable for the arguments (TextComponentTranslation, boolean)

Line 158 `var3.connection = this;`
Type mismatch: canno

[2016-07-02 03:52] coolsquid commented on #75
What the actual... Why the heck doesn't NetHandlerPlayServer.java.patch show up in my Git commit GUI thing? Either way, should be fixed by b167ca88cfea401ad6b77a39891f02785b314efa.

[2016-07-02 03:52] #75 closed

[2016-07-03 09:55] darkhax commented on #31
A dictionary system has been added.

[2016-07-03 09:55] #31 closed

[2016-07-03 09:57] darkhax commented on #2
This issue has no description, and various registry have already been added.

[2016-07-03 09:57] #2 closed

[2016-07-05 01:34] coolsquid commented on #1
Claiming all the living events. Might work on some world gen events when I'm done, so please tell me if you're doing those.

Also, I think @strikingwolf is doing player events.

[2016-07-05 08:30] darkhax opened #82 "Entering resource packs crashes the game"
[code]

[2016-07-05 10:24] darkhax opened #83 "Message GUI not hiding"
The message GUI is not being hidden when the user hits the f1 (turn off all HUD) key. It does seem to minimize (not sure if this is a bug or not). It should be completely hidden though.

[2016-07-05 10:25] lclc98 commented on #83
This is just due to how it is coded, it shouldn't be too hard to fix

[2016-07-08 22:22] Caellian opened #87 "Power API - Claimed by Caellian & Strikingwolf"
I am aware of gazillion different power systems out there and how OML does not intend to force it's own power system (which I agree with). However, I do think that some code base which would be common to all power systems would be useful for developers down the road.

Why add this?
Forge has many different power systems. Some are newer, some have sticked around for ages. None of them worked togeth

[2016-07-08 22:26] phase commented on #87
I'm completely for this. The more that is baked into the API, the more tools developers have to make better mods. One complete power system or an abstract system would greatly help developers.

[2016-07-08 22:29] Caellian commented on #87
I don't wish to add a complete power system (maybe to example mod), but I'm voting for an abstract API which would make other power systems more stable.

[2016-07-09 10:29] skyem123 commented on #87
How about something like a base for connections in general?
Like, something that many mods add is connections, one type of which is power.
There are things other than power, that could benefit from help inside of the mod loader / API / thing.

Similar to power is data, like the cables from OC and CC. However, it is different in important ways (mainly the fact that there's a lot of data), which mig

[2016-07-09 15:12] darkhax commented on #87
If this were to be implemented, it would have to be done very carefully. Almost anything we could add would enforce something in some way. For example, the interfaces you describe would restrict the type of parameters that could be used, by this I mean it would either not support transfer resistance, or enforce transfer resistance. The idea of making all power API compatable with each other also e

[2016-07-09 15:34] Strikingwolf commented on #87
@darkhax What @Caellian proposes here is a way to make it _easy_ to make them compatible. But the mods would have to actually do any compatibility in their own right. Though I do believe there should be a way for a mod author to say

so that a mod author with another power system can't link them or worse a random author link two power systems that aren't theirs

[2016-07-09 19:37] skyem123 commented on #87
Um... I think the idea of restricting what people can do goes against the whole point of modding. :stuck_out_tongue:

[2016-07-09 20:47] Strikingwolf commented on #87
@skyem123 it doesn't restrict what people can do in fact, they could ASM that out or figure out another method of preventing conversion. What it does is prevent someone from breaking a mod whose author wants it to work in isolation from others unless they have a good reason and it isn't on a whim

[2016-07-10 00:42] skyem123 commented on #87
@Strikingwolf, Well... It should be possible for people to convert between energy systems, as long as they are able to implement everything for the systems being converted between.

Also, how about having a more generic network / connection / thing that could be used for more than just power?

[2016-07-10 08:48] Caellian commented on #87
Darkhax, my currently planned system has no such restrictions. Both units and conductors would have "properties" (resistance/conductivity, magnetic permeability,...) which is a very scalable system and basically means that mods could use wires from different mods if those wires have needed properties for flow calculation.

@skyem123 I know what you meant by what you initially said. I would call su

[2016-07-10 12:30] skyem123 commented on #87
@Caellian, the problem is with allowing mods to stop other mods from interacting with their power systems is that people who really want to do it use a power system will use reflection / ASM, which is never pretty.

[2016-07-10 22:38] #83 closed

[2016-07-11 08:34] Caellian commented on #87
Problem is that people are idiots. We can fool proof every part of Minecraft as much as we want and someone will still come up with a way to screw things up.
Code will be designed so people with  brain can use it. ASM can't be avoided and if someone wants to, he/she is free to use it. Permission system is there just so other mod developers know they aren't supposed to interact with your power type

[2016-07-12 08:30] skyem123 commented on #87
To be honest, I think that conversion should happen manually, and shouldn't be automatic.
If people bother to write logic to conversion , that should be enough. If a modder didn't want to let other mods use their power system, then they shouldn't use the API.

[2016-07-12 09:37] Caellian commented on #87
We all agreed that conversion will be manual right at the beginning. There is too much uncertainty to make an automatic system. We were discussing about allowing power systems to manage conversion registration and prevent converters from being registered if the power system says so.
If someone doesn't want his/her power system from being used at all by other mods, he will be able to remove it from

[2016-07-12 10:50] skyem123 commented on #87
That makes sense, however... If people block registering of converters, then it's still possible to make a converter by using normal power APIs.

If you're talking about letting mods register their power system and also control what mods use it, it defeats the purpose of a registry. I think that if a mod wants to control that, then they shouldn't register it publicly, and handle the other mods the

[2016-07-12 13:23] Caellian commented on #87
@skyem123 you're confusing me.
If author blocks converter registration, only way to do it is using source code of that mod and doing things that aren't supposed to be done.
If developer decides to exclude his power system from registry, again, only way you can access it is source code of his/her mod.
This API doesn't prevent people from being stupid and breaking mods, it makes it easier for power

[2016-07-13 16:48] skyem123 commented on #87
@Caellian, the main thing I am confused about the idea that allowing mods to stop other mods from registering "power converters" will make anything better.
All that a mod needs to make a power converter is input of one type, and output of another type.
From what I can understand, the point of registering a power converter would be to reduce any possible strangeness that could occur.
If a mod decid

[2016-07-13 17:01] Strikingwolf commented on #87
@skyem123 by blocking power converters you'd also implicitly be blocking anything else that would "take" your power. As otherwise you could do it manually as you said.

[2016-07-13 17:22] Caellian commented on #87
Power converters exist so one could for example generate one type of energy and use it to power a machine using other type of energy.
If mod author decides to block power conversion for his mod then it shouldn't be done. If someone does is manually and/or overrides power API then it's his/her fault if something goes wrong.

I understand what you're saying, but manually doing things with power API

[2016-07-13 17:33] skyem123 commented on #87
@Caellian, that's why you shouldn't encourage people to manually go around artificial restrictions.

[2016-07-13 17:40] Caellian commented on #87
@skyem123 How am I encouraging them? What are my alternatives? I decided to add blacklists so devs could nicely say in log files "hey, you shouldn't do that", I could add register method overload with boolean which allows you to force register converter, that's about as much as it would make sense to do.

[2016-07-13 17:40] Caellian commented on #87
@skyem123 How am I encouraging them? What are my alternatives? I decided to add blacklists so devs could nicely say in log files "hey, you shouldn't do that", I could add register method overload with boolean which allows you to force register converter, that's about as much as it would make sense to do.

[2016-07-16 12:55] Caellian commented on #87
TODO:

Difference between conductor capacity and transfer speed.

Add converter of actual speed to block movement where speed of sound is one block per tick speed.

Different transfer handlers - smart/network TH, potential equalization TH, forward TH (packet movement direction might complicate things). Abstract classes.

Think out of the box and hacky - transferring power without conductors; multi

[2016-07-16 15:02] Caellian opened #90 "Fluid API"
Created this issue so we can post TODO lists here and suggestions.

[2016-07-16 15:02] iLexiconn commented on #90
I thought we didn't want anything like this...

[2016-07-16 15:03] Caellian commented on #90
We can look at Forges Fluid API for reference, but I already have a few things I don't like about it.
Firstly, it seems as if their primary target were liquids. Liquids are fluid, but so are gasses and plasmas. Gasses and plasmas aren't used as often as liquids, but "Fluid API" should still have equal support for them too.

[2016-07-16 15:04] Caellian commented on #90
@ILexiconn, why? Never heard anyone saying something like that.

[2016-07-16 15:06] iLexiconn commented on #90
We talked about it a few times already, we should just let mods handle this.

[2016-07-16 15:06] Caellian commented on #90
Fluid API would extend on "Flow API" like "Power API" should because they both have transferable units.

[2016-07-16 15:16] Caellian commented on #90
I think Fluid API unifies common code and helps with mod development enough to weight towards being more useful than trouble to write.

A lot of Forge mods are using Fluid API and it allows fluids to be handled by all pipes

[2016-07-20 12:05] Shadows-of-Fire commented on #90
Set a radius on Gas flow, so that gas source blocks don't create upwards flow to block height.
Or, dissipate gas sources based on the distance they make from the original source.  After x blocks, the source becomes smaller, and if gases become small enough they disconnect from the source, and can flow up to world height, at which they will promptly be deleted.

[2016-07-20 18:47] Caellian commented on #90
TODO:
-Higher gas denisty - faster gas spread.
-Gas dilution over time
-Non-infinite liquid implementation (source block doesn't exist)
-Everything Forges liquid API has
-Plasma (faster dilution and movement than gasses)

[2016-07-22 12:30] Caellian opened #92 "TileEntity interface"
This would allow interfaces to extend TileEntity and add default methods using TileEntity methods.
TileEntity is currently an abstract class in Minecraft which doesn't extend or implement anything. I don't see a scenario where TileEntity class implementing our interface would be harmful (as we are talking about implementation, not extension).

Either way, I wanted to be sure everyone agrees with t

[2016-07-22 13:53] Caellian commented on #92
Here is an example where this would be useful:
<a href="http://i.imgur.com/rKklr39.png">
  <img src="http://i.imgur.com/rKklr39.png" />
</a>

[2016-07-22 14:28] shadowfacts commented on #92
The problem with this is due to the interface methods having the names as the TileEntity methods, when the TileEntity class is reobfuscated the TileEntity interface methods won't be, causing the interface methods to be unimplemented at runtime causing AbstractMethodErrors.

(This might not be true of ModGradle, but this is how it works in ForgeGradle)

[2016-07-23 07:18] Victorious3 commented on #92
While generally a neat idea, I dont think this change is necessary. It's also a risky one, what if they ever decide to do something with it an interface can't do? I wouldn't want to be the one refactoring that one...
Besides, what you really want are proper traits, and at that point you may want to consider using something that *isn't java* like scala or Kotlin. Forge supports scala out of the box

[2016-07-23 08:15] Victorious3 commented on #90
I don't know about gases or plasma as its something vanilla doesn't have and you'd have to add some kind of source blocks for (or not, I'd personally do gases on a chunk base as that makes a lot more sense physically than propagating "gas-blocks", and it's a hell of a lot more performance friendly). And plasma? If you want to be realistic it wouldn't stay for long (and with "for long" I mean reall

[2016-07-23 09:33] Victorious3 commented on #87
To quote myself:

[2016-07-23 14:57] Strikingwolf commented on #87
@Victorious3 I think if you read through what he has currently you could form a better opinion of if it's possible

At this point I'm more worried about it being boilerplate heavy

[2016-07-23 19:16] Strikingwolf commented on #92
I agree we should support scala out of box, and if we do that means we can use Scala in our codebase, as it's really interoperable with Java anyway

[2016-07-24 00:21] Caellian commented on #87
Power API at this point really supports anything, and I'll likely add some default classes which seem to be very common amongst different power systems. Power API isn't as boilerplate heavy as Flow API is and I guess it's okay for Flow API to be so because it really adds support for transferring and/or storing anything that can be stored (but doesn't have to) in NBT format and allows mods to inter

[2016-07-24 00:27] Caellian commented on #90
Anything realistic with gasses is very laggy, and questionably possible, not to mention plasma. I don't think they are truly necessary and as @Victorious3 said - gasses can be stored in chunk data as ratios of atmosphere (for mods like [Galacticraft](https://micdoodle8.com/mods/galacticraft)).
In case gasses are handled like so (there would be a "Gas" class), I think it's pointless to call this a

[2016-07-26 00:27] #87 closed

[2016-07-27 00:42] Caellian commented on #92
The sad truth is that a single Trait would fix this, but we can't switch project to Scala for just one trait.

[2016-07-27 01:14] Caellian commented on #34
Wouldn't this extremely prolong loading time?

[2016-07-27 01:34] Caellian commented on #92
Only way to solve this (that I can think of) is to use Scala traits.

[2016-07-27 15:49] DiMuRie commented on #92
I am interesed the most in :
readFromNBT
And
writeToNBT

[2016-07-28 10:47] Victorious3 commented on #34
@Caellian CCC has been doing runtime deobfuscation for quite a long time, its lazy loaded, it only does so if needed.

[2016-07-28 18:13] iLexiconn commented on #34
Forge also does this to srg

[2016-07-29 18:12] Caellian commented on #92
Those two are basically the reason why I created this issue. This issue can't be fixed with Java and it's silly to switch to Scala because on one class.
Besides, switching to Scala would do this project more harm than good.

This can't be implemented with patches because methods of said interface wouldn't reobfuscate properly thus making code impossible to recompile.

[2016-07-29 19:46] Caellian opened #95 "GUI API"
@shadowfacts and @lclc98 said they might help out with this. This is one of the last APIs I'm going to suggest/create without asking.

I want to create a Swing like system for creating GUIs in Minecraft that also allows servers to send GUIs to clients. Forget Swing, it will be better than Swing because it will be simpler.

Here's reference material:
https://github.com/NOVA-Team/NOVA-GUI
[Shadowfac

[2016-07-29 19:47] #92 closed

[2016-07-29 19:57] shadowfacts commented on #95
1. That's the old GUI lib the [new one](https://github.com/shadowfacts/ShadowMC/tree/1.10.2/src/main/java/net/shadowfacts/shadowmc/ui) is much more flexible and much, much better.
2. My UI lib can easily be ported to use on OML (right now, it would probably work without any changes).
3. For GUIs controlled by the server, it'd be much more complicated, but I'm not sure how necessary that is.

[2016-07-29 20:16] Caellian commented on #95
1. Updated the link.
2. While your UI lib is incredible it still misses something like [this](https://github.com/Caellian/GuiAPI/tree/master/src/main/java/hr/caellian/mcguiapi/components/render) which I would like to see as it allows changing component size however users want (e.g. button height <- breaks MC button textures).
+ frame dragging (if enabled)
3. I have my brain working on server GUI s

[2016-07-29 20:24] shadowfacts commented on #95
Currently in my lib, the max button height that will work properly is 20, but that's just because of the texture it's using. It could easily be adapted to use larger buttons. You could still have larger than normal buttons and just disable the background texture rendering with the correct style property.

Component movement is possible in my old lib and is probably possible in my new one, I just h

[2016-07-29 23:16] Victorious3 commented on #95
The one I wrote for NOVA is pretty close to what Swing should have been like, imo.
It does have the same component and inheritance system. It also has similar Layouts and uses Constraints to pass arguments to the layout. It does have its own version of Graphics2D which does all the drawing (so you don't need to use gl primitives)

What it doesn't have is layouts behaving *wildly unpredictable* and

[2016-07-31 02:50] ostenvighx commented on #1
Gonna take a shot at the RenderGameOverlay events.

[2016-08-01 00:46] darkhax opened #96 "Dungeons and Darkhax"
Some of you may have noticed my lack of involvement in this project over the last month or so, and my change in status on the discord server. These things were fairly sudden, and without explanation. I am making this post here to clear up a few things, and discuss the future of the project. Going to write this in a FaQ format, because that's a really easy way to get information across.

**Why did

[2016-08-01 06:40] darkevilmac commented on #1
Gonna go ahead and port my PlayerSetSpawnEvent.

[2016-08-01 20:33] Caellian commented on #95
Event handling is something that should be avoided if we are writing our own code which targets mod development.

System I have in mind will support layers and layer managers. That way people will be able to add content to both HUD and vanilla GUI without ASM (if it doesn't need to modify vanilla content). This would for example be able to handle what Forge is doing with switching creative screens

[2016-08-01 22:51] ostenvighx commented on #95
For the main game overlay, I figured we'd move the vanilla stuff into screen elements and make them all toggleable. Just like everything else, you have control over the default elements.

Think of it like a set of elements for a purpose. People could set up a minimal layout with just health, or they could set up a full layout like the default overlay. Toggleable with a keybind. (this would be a mo

[2016-08-02 02:13] Caellian commented on #95
What you're suggesting is simply insane, not only would it be a disgusting amount of patching (rewriting) vanilla classes, it would also require tremendous effort to basically rewrite the whole GUI code and maintain it constantly. This would be a very good solution if we had a team of 30 people working on GUI API, but there's only ~4 of us.

Layers I suggested are a reasonable solution as it only

[2016-08-02 05:49] ostenvighx commented on #95
It would require one patch- to switch the gui minecraft uses to a new container for widgets, like everything else for the gui api.

After that, mods (and us) can put whatever widgets on the overlay that they want. No event hooking, no extra code.. just a register to the overlay screen and a widget class.

I would make a hotbar widget, the bars (health, armor, etc), the tab overlay, and the scorebo

[2016-08-02 12:47] Caellian commented on #95
Have you looked at vanilla code? To make it work properly with a GUI system like Swing (let alone our which has to handle modular rendering too) it would take much more than just a single patch to Gui class.
You are extremely underestimating what it would take to switch Minecraft GUI to our system.
You are also underestimating how much work would go into actually rewriting ~111 vanilla GUI classes

[2016-08-07 22:34] ostenvighx commented on #95
Then layers. Don't change the base guiingame, but allow modular components on top of it?

[2016-08-09 00:39] Caellian commented on #95
Yeah, that's how layers would work, and of course, components on top of
those and components on top of those until you lag the hell out of the game
if you want.

On 8 August 2016 at 00:34, ostenvighx <notifications@github.com> wrote:

--
- Tin Švagelj

[2016-08-09 23:09] ostenvighx commented on #95
So would we make something like GuiManager.getNamedLayer("ingame_overlay")?

[2016-08-09 23:11] ostenvighx commented on #95
And IGuiLayer (or whatever) would have getComponent, addComponent, and removeComponent?

[2016-08-11 03:58] Caellian commented on #95
Layers would likely only be there to render gui components which would be handled by another container to improve management. We would likely use a data storage format like XML or (more likely) JSON to store GUIs and game would generate them from those files. That way we can easily add server sided GUI support and client would function similarily to server which is awesome. Not to mention modifyin

[2016-08-11 04:45] ostenvighx commented on #95
Not sure about the text gui system. It seems pointless when code is on both
sides anyway. For a custom gui mod, sure, but not a standard, unchanging
gui.

On Wed, Aug 10, 2016, 23:58 Tin Švagelj <notifications@github.com> wrote:

[2016-08-11 19:08] Caellian commented on #95
That's the thing, GUIAPI would allow server-only mods to display GUIs on
clients using OML. That's one of the main reasons why I'm suggesting this
API - others being easy GUI creation and more stable GUI system in general.
So in half cases mods using GUIAPI would only be server-side which makes it
easier for big servers to display custom GUIs or update them every day if
the want to.

[2016-08-11 19:15] ostenvighx commented on #95
You'd still need the format on the client, though, would you not?

On Thu, Aug 11, 2016, 15:08 Tin Švagelj <notifications@github.com> wrote:

[2016-08-12 01:53] phase commented on #95
The server would send the data to the client through the mod loader itself, since it would also have the GUIAPI.

[2016-08-19 22:42] Caellian commented on #1
### Something drastic needs to change about events.
#### 1. We don't want to copy-paste all Forge events as it's one of the reasons why it's so slow.
#### 2. We don't want to handle events which are not being used.
#### 3. We want to allow people to add new events easily without using the patching system.
I'm currently looking into how to accomplish the third. ASM would be amazing, but it's a bit

[2016-08-24 23:02] #1 closed

[2018-05-16 08:40] modmuss50 commented on #3
Needs the resource stuff mapping out, seems a bit more complex can it was before as there are now client and server resource packs.